.capas{ 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.itens{
    border-radius: 0.7rem;
    padding: 0.7rem;
    padding-bottom: 1.3rem;
    background-color: #F2BB77;
    margin-bottom: 3rem;
}

.titulo{
    font-weight: bolder;
    font-size: 17px;
    margin-top: 10px;
}
.qnt{
    margin-top: 10px;
    font-style: oblique;
}
.itens{
    transition: 0.2s;
}

.itens > img{
    border-radius: 5px;
}

.itens:hover{
    background-color: #542673;
    transform: scale(1.01);
}