.main-page {
   box-sizing: border-box;
   padding: 0 1rem 1rem 1rem;
}

.main-page > h1{
   font-size: 2rem;
   margin: 2rem 0;
   padding: 0.2rem 0;
   border-bottom: 1px solid gray;
}

.filtro-container{
   margin: 1rem 0;
}

.filtro{
   margin-top: 0.2rem;
   font-size: 1.1rem;
   padding: 0.2rem;
}

.lista{
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

.conteudo{
   width: 30%;
   margin: 1rem 1.6%;
   padding: 3px;
   display: flex;
   transition: all 0.3s;
   box-sizing: border-box;
   background-color: #f2bb77ec;
   border-radius: 5px;
   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.39);
}

.conteudo:hover{
   background-color: #413659de;
   border-radius: 5px;
}

.conteudo:hover :is(.titulo){
   color: #F2BB77;
}

.conteudo:hover :is(.conteudo > img){
   border: 1px solid #F2BB77;;
}


.conteudo > img {
   border: 1px solid gray;
   border-radius: 5px;
   box-sizing: border-box;
   cursor: pointer;
   transition: 0.3s;
}

.conteudo-filmes{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;
   box-sizing: border-box;
   position: relative;
}

.titulo{
   padding: 1.1rem;
   font-weight: bold;
   transition: 0.3s;
}

.rating-star{
   position: absolute;
   bottom: 1.5rem;
   display: flex;
   transform: rotateY(180deg);
}

.rating-star > .inputStar{
   display: none;
}

.rating-star > .labelStar{
   display: block;
   cursor: pointer;
   width: 25px;
}

.rating-star > .labelStar::before{
   font-family: fontAwesome;
   content: '\f005';
   position: relative;
   display: block;
   font-size: 1.5rem;
   color: #101010;
}

.rating-star > .labelStar::after{
   font-family: fontAwesome;
   content: '\f005';
   position: absolute;
   display: block;
   font-size: 1.5rem;
   color: #F2BB77;
   top: 0;
   opacity: 0;
   transition: .3s;
   text-shadow: 0 2px 5px rgba(0, 0, 0, 0.493);

}

.labelStar:hover:after,
.labelStar:hover ~ .labelStar::after,
.inputStar:checked ~ .labelStar::after{
   opacity: 1;
}

.background{
   background-color: #413659e8;
   border-radius: 5px;
   color: #F2BB77;
}

.display-none{
   display: none;
   transition: 0.3s;
}

.invisivel-conteudo{
   opacity: 0;
}