*{
   margin: 0;
   padding: 0;
}

.container{
   display: flex;
}

body{
   flex-direction: column;
   align-items: center;
   background-image: linear-gradient(45deg, #542673 45%, #F2BB77);
   width: 100vw;
   min-height: 100vh;
}

main{
   background-color: rgba(255, 255, 255, 0.911);
   width: 60%;
   border-radius: 0.5rem;
   padding: 1rem 0;
}

@media screen and (max-width: 999px){
   
   main{
      width: 90%;
   }

}