.main-page{
    margin-top: 10rem ;
}

.conteiner-form{
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold ;
}

#login{
    width: 300px;
    display: flex;
    flex-direction: column; 
    padding: 5rem;

}

#cadastro{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding: 5rem;
}

input, label{
    margin-top: 0.3rem;
}

input{
    padding: 0.7rem;
    border:none;
    border-bottom: 1px solid #413659;
    background: transparent;
    margin-bottom: 1.5rem;

}

input:hover{
    background-color: rgba(255, 255, 255, 0.35);
}

h1{
    font-size: 23px;
    margin-bottom: 3rem;
}

.botao{
    height: 3rem;
    border: none;
    border-radius: 10px;
    background-color: #F2BB77;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

.botao:hover{
    transform: scale(1.05);
    background-color: #542673;
    color: white;
}

@media screen and (min-width:1920px) {
    .main-page{
        max-width:960px ;
    }    
}