.main-page{
    margin-top: 20vw ;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.conteiner-form{
    display: flex;
    justify-content: space-around;
    font-weight: bold ;    
}

#login{
    width: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column; 
    padding: 5rem;

}

#cadastro{
    width: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

input, label{
    margin-top: 0.7rem;
}

input{
    padding: 0.7rem;
    border:none;
    border-bottom: 1px solid #413659;
    background: transparent;

}
input:hover{
    background-color: rgba(255, 255, 255, 0.35);
}

h1{
    font-size: 25px;
    margin-bottom: 3rem;
}

.botao{
    margin-top: 1rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    background-color: #F2BB77;
}