header{
   width: 100%;
   display: flex;
   position: fixed;
   max-height: 77px;
   box-sizing: border-box;
   justify-content: space-around;
   align-items: center;
   padding: 0.7rem;
   background-color: #413659;
   border-bottom: 7px solid #C7ADD9;
}

#logo{
   color: #fff;
   font-size: 2.5rem;
   padding: 0.5rem 1rem;
}

.container .nav-bar > li{
   padding-right: 1.5rem;
}

.nav-bar > li > a{
   color:#fff;
   padding: 0.1rem ;
   font-size: 1.2rem;
   text-decoration: none;
}

.nav-bar > li > a:hover{
   color: #C7ADD9;
   border-bottom: 1px solid #C7ADD9;
}

.mobile-menu div{
   width: 32px;
   height: 2px;
   background: #fff;
   margin: 8px;
}

.mobile-menu{
   cursor: pointer;
   display: none;
}

@media screen and (max-width: 999px){
   
   header{
      justify-content: space-around;
      align-content: center;
      max-height: 154px;
   }

   #div-logo{
      flex-grow: 15;
   }

   .nav-bar{
      position: absolute;
      top: 85px;
      right: 0;
      width: 45vw;
      height: 92vh;
      background: #413659;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
   }

   .nav-bar li{
      padding: 1rem;
   }

   .mobile-menu{
      display: block;
      flex-grow: 1;
   }

   .invisivel{
      display: none;
   }
}